# Node
node_modules/
.next/
out/
dist/
build/

# Environment / secrets
.env
.env.local
.env.development.local
.env.production.local

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/